@page "/authorize"
<h3>Authorize</h3>

    @if (User != null)
    {
        <div>
            <p>@User.Account.FirstName</p>
            <p>@User.Money</p>
            <button>Out</button>
        </div>
    }
    else
    {
        <EditForm Model="Account" OnSubmit="OnSubmit">
            <div>
                <label>Email</label>
                <input @bind-value="Account.Email" />
            </div>
            <div>
                <label>Password</label>
                <input @bind-value="Account.Password" />
            </div>
            <button type="submit">Send</button>

    </EditForm>        
    }




@code {
    public AccountModel Account { get; set; }
    public UserModel? User { get; set; }

    public Authorize()
    {
        Account = new AccountModel()
        {
            Email = "bisnes@gmail.com",
            Password = "123321"
        };
    }

    public void OnSubmit(EditContext editContext)
    {
        var valid = editContext.Validate();
        using (var database = new EntityDataBase())
        {
            var account = database.Accounts.FirstOrDefault(a => a.Email == Account.Email &&
                                                            a.Password == Account.Password);
            if (account != null)
            {
                User = account.User;
            }
        };
        
        

    }

    protected override void OnAfterRender(bool firstRender)
    {
        
    }
}
