@page "/authorize"
@using BlazorApp2.Data;
<h3>Authorize</h3>

<EditForm Model = "Account" OnSubmit="OnSubmit">
    <div>
        <label>Email</label>
        <input @bind-value="Account.Email"/>
    </div>
    <div>
        <label>Password</label>
        <input @bind-value="Account.Password"/>
    </div>
    <button type="submit">Send</button>

</EditForm>

<div>
    @if (User != null)
    {
    <p>@User.Account.FirstName</p>
    <p>@User.Money</p>
    }
    
</div>


@code {
    public AccountModel Account { get; set; }
    public UserModel? User { get; set; }

    public Authorize()
    {
        Account = new AccountModel();
    }

    public void OnSubmit(EditContext editContext)
    {
        var valid = editContext.Validate();
        var account = DatabaseMoq.Accounts.FirstOrDefault (a => a.Email == Account.Email &&
        a.Password == Account.Password);
        if (account!=null)
        {
            User = account.User;
        }

    }

    protected override void OnAfterRender(bool firstRender)
    {
        
    }
}
